<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href = "/static/my_style.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <title>FindYou</title>
</head>

<body style="font-family: 'Noto Sans JP', sans-serif;">   
    <div class="background" style="background: url(https://images.pexels.com/photos/6168/hands-woman-laptop-notebook.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center no-repeat;">
        <div class="img-wrap">
             <div class="logo"><img src="https://kontur.ru/Files/userfiles/image/brandbook/logo-kontur-white.png"></div>
            <div class="main_text">Введите ссылку на сайт для проверки его на наличие персональных данных</div>

            <form class="url_input" action="" method="post">
                <div class="row justify-content-center pb-3">
                    <div class="col-4 px-0 ">
                        <input class="form-control align-items-end" type="url" placeholder="Введите адрес сайта для проверки..." name="url">
                    </div>
                    <div class="col-md-auto px-0 ">
                        <input class="btn btn-primary align-items-start" type="submit" value="Проверить">
                    </div>
                </div>
            </form>

        </div>
    </div>


    {% if result %}
    <div class="table_text">На вашем сайте нашлись следующие персональные данные:</div>
        {% for key, value in result.items() %}
        <ul class="list-group list-group-horizontal justify-content-center">
          <li class="col-2 list-group-item list-group-item-light text-right border-right-0 border-left-0">{{value}}</li>
          <li class="col-6 list-group-item list-group-item-light text-left border-right-0 border-left-0">{{key}}</li>
        </ul>
        {% endfor %}
    {% endif %}


    <div class="row justify-content-center">
        <div class="col-1 px-0">
            <img src="/static/img/1.png" style="height: 100px; width: 100px">
        </div>
        <div class="col-1 px-0">
            <img src="/static/img/2.png" style="height: 100px; width: 100px">
        </div>
        <div class="col-1 px-0">
            <img src="/static/img/3.png" style="height: 100px; width: 100px">
        </div>
        <div class="col-1 px-0">
            <img src="/static/img/4.png" style="height: 100px; width: 100px">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-1 px-0">
            <img src="/static/img/5.png" style="height: 100px; width: 100px">
        </div>
        <div class="col-1 px-0">
            <img src="/static/img/6.png" style="height: 100px; width: 100px">
        </div>
        <div class="col-1 px-0">
            <img src="/static/img/7.png" style="height: 100px; width: 100px">
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>
